<div class="container bg-white">
  <div class="row container">
    <div class="col-6">
      <p class="h5 text-dark mt-2">Cous</p>
    </div>
    <div class="col-6 row">
      <div class="col-6"></div>
      <div class="col-3"><p class="text-secondary"><i class="fa fa-clock-o"> </i> s</p></div>
      <div class="col-3"><p class="text-secondary"><i class="fa fa-clock-o"> </i> s</p></div>
    </div>
  </div>
  <div class="row container">
    <div class="col-9">
      <p class="text-secondary">Learn about where you can find course descriptions, what information they include, how
        they work, and details about various components of a course description. Course descriptions report information
        about a university or college's classes. They're published both in course catalogs that outline degree
        requirements and in course schedules that contain descriptions for all courses offered during a particular
        semester.</p>
    </div>
    <div class="col-3">
      <div class="row justify-content-end">
        <button type="button" class="btn btn-outline-info btn-sm pull-right mb-3 mr-3"><i class="fas fa-pen"></i>
          Add
          Course
        </button>
        <button type="button" class="btn btn-outline-info btn-sm pull-right mb-3"><i class="fa fa-plus"></i> Add Course
        </button>
      </div>
    </div>
  </div>
</div>
