<div [ngClass]="[course.topRelated ? '':'bg-white']"
     [appOutdatedBorder]="course.creationDate"
     class="container my-2">
  <div>
    <div class="row container">
      <div class="col-6">
        <p class="h5 text-dark mt-2">{{course.title | uppercase}}  <i *ngIf="course.topRelated" class="fa fa-star"></i></p>
      </div>
      <div class="col-6 row">
        <div class="col-4"></div>
        <div class="col-4"><p class="text-secondary"><i
          class="fa fa-clock-o"> </i> {{ course.duration | date:'hh\'h\' mm\'min\' '}}</p></div>
        <div class="col-4"><p class="text-secondary"><i
          class="fa fa-clock-o"> </i> {{ course.creationDate | date:'shortDate'}}</p></div>
      </div>
    </div>
    <div class="row container">
      <div class="col-9">
        <p class="text-secondary">{{course.description}}</p>
      </div>
      <div class="col-3">
        <div class="row justify-content-end">
          <button type="button" class="btn btn-outline-info btn-sm pull-right mb-3 mr-3"><i class="fa fa-pencil"></i>Edit
          </button>
          <button type="button" class="btn btn-outline-info btn-sm pull-right mb-3" (click)="deleteCourse(course.id)"><i
            class="fa fa-trash"></i> Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
